
body {
    font-family: Arial, sans-serif;
    color: #222;
    
}

h1 {
    text-align: center;
    font-size: 28px;
    color: #004080;
      
}

h2 {
    color: #004080;
    margin-bottom: 10px;
}

ul, ol {
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
